<title>SuperV</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ asset_add('acp.css', 'theme::css/tailwind.css') }}
{{ asset_add('acp.css', 'theme::css/toastr.css') }}
{{ asset_add('acp.css', 'theme::css/element/theme-chalk/index.css') }}
{{ asset_add('acp.css', 'theme::fonts/lato/lato.css') }}
{{ asset_add('acp.css', 'theme::css/fontawesome/css/fontawesome-all.css') }}
{{ asset_style('acp.css')  }}
